.canvasWrapper {
	aspect-ratio: 1 / 1;
}
.canvas {
	width: auto;
	height: auto;
}
.buttonGroup {
	display: flex;
	gap: 16px; /* расстояние между кнопками */
	align-items: center;
	flex-wrap: wrap; /* для мобилок */
}
/* Мобильные (вертикально) */
@media (max-width: 768px) {
	.canvasWrapper{

	}
}
/* Планшеты и десктопы (рядом) */
@media (min-width: 769px) {
	.canvasWrapper {
		display: flex; 
		justify-content: flex-start;
	}
}
.slider{
	width: 185px;
}
.controlGroup {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.controlGroup label{
	margin: 2px;
}