.canvasWrapper {
	aspect-ratio: 1 / 1;
}
.renderButton {
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.canvas {
	width: auto;
	height: auto;
}
/* Мобильные (вертикально) */
@media (max-width: 768px) {
	.canvasWrapper{

	}
}
/* Планшеты и десктопы (рядом) */
@media (min-width: 769px) {
	.canvasWrapper {
		display: flex; 
		justify-content: flex-start;
	}
}