.canvasWrapper {
	aspect-ratio: 1 / 1;
	padding-top: 10px;
}
.canvas {
	width: auto;
	height: auto;
}
.buttonGroup {
	display: flex;
	gap: 16px; /* расстояние между кнопками */
	align-items: center;
	flex-wrap: wrap; /* для мобилок */
}
/* Мобильные (вертикально) */
@media (max-width: 768px) {
	.canvasWrapper{

	}
}
/* Планшеты и десктопы (рядом) */
@media (min-width: 769px) {
	.canvasWrapper {
		display: flex; 
		justify-content: flex-start;
	}
}