.baseImg {
	padding-top: 25px;	
	width: auto;
	height: auto;
}
.fileInput{
	display:none;
}
.buttonGroup {
	display: flex;
	gap: 16px;
	align-items: center;
	flex-wrap: wrap; /* для мобилок */
}
/* Мобильные (вертикально) */
@media (max-width: 768px) {
	.baseImg {
	}
}
/* Планшеты и десктопы (рядом) */
@media (min-width: 769px) {
	.imgWrapper {
		display: flex;
		justify-content: flex-end;
	}
	.baseImg {
		
	}
}
