.baseImg {
	padding-top: 40px;
	width: auto;
	height: auto;
}
/* Мобильные (вертикально) */
@media (max-width: 768px) {
	.baseImg {
	}
}
/* Планшеты и десктопы (рядом) */
@media (min-width: 769px) {
	.imgWrapper {
		display: flex;
		justify-content: flex-end;
	}
	.baseImg {
		
	}
}
